/* common */
/*
    1-container
    2-opacity hover
    3-section header
    4-section padding
    5-hover effect 1 ( left to right )
    6 hover effect 2 ( right to left )
*/

/* general styles */
body{
    font-family: "Varela Round", sans-serif; /* code of the page font */
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 80%;
    margin: auto;    
}

button{
    font-family: inherit;
}

a{
    text-decoration: none;
}

.clear{
    clear: both;
}

.header-section{               /* header with line */
    text-align: center;
    /* margin-bottom: 20px; */  
}

.header-section .line {
    display: block;
    height: 4px;
    width: 60px;
    background-color: #6195ff;
    margin: 0 auto 70px auto;
}

.header-section .section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.pd-y{
    padding: 120px 0;
}

/* sections */

/* header section */

.header{
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
}

.logo{
    width:40%;
    float: left;
}

.navbar{
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}

.navbar >li >a {
    color: white;   
    display: block; /* there is just one line , so block does not make a problem */
    padding: 30px 15px;
    font-size: 14px;
}

.navbar >li{
    display: inline-block;
    width: 75px;
    text-align: center;
}

.header .navbar >li >a.active:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #6195ff;
    margin-top: 4px;
    width: 100%;
    transition: width 0.5s;
}

.header .navbar >li >a:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #6195ff;
    margin-top: 2px;
    width: 0%;
    transition: width 0.5s;
}

.header .navbar >li >a:hover:after {
    width: 100%;
}

/* .header .navbar li a.active:after,.header .navbar li a:after {
    content: "";
    display: block;
    height: 3px;
    background-color:#6195ff ;
    margin-top: 2px;
    transition: width 0.5s;
}

.header .navbar li a.active:after{
    width:100% ;
}

.header .navbar li a:after{
    width: 0%;
}

header .navbar li a:hover:after{
    width: 100%;
} */

.dropdown{
    position: relative;
}

.dropdown-menue{
    position: absolute;
    background-color: #6195ff;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0%;
    visibility: hidden;
    transition: opacity 0.5s;
}

.dropdown-menue a{
    color: white;
    display: block;
    padding: 10px;
}

.dropdown:hover .dropdown-menue{
    opacity: 1;
    visibility: visible;
}
/* home section */
.home{
    background-image: url(../images/background1.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.home-content{
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.overlay{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.desc{
    margin: 20px 0;
    letter-spacing: 1px;
    line-height: 1.5;
    color: white;
}

.title{
    text-transform: capitalize;
    color: white;
    font-size: 3.5rem;
}

.btn{
    min-width: 150px;
    padding: 15px 0;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-getstarted{
    background-color: white;
    margin-right: 10px;
}


.btn-learnmore{
    background-color: #6195ff;
    color: white;
}

.hover-opacity{
    transition: opacity .5s;
}
.hover-opacity:hover{
    opacity: 0.8;
}

/* about section */

.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 25px;
}

.about-item.mg{
    margin: 0 5%;
}

.about-item .icon{
    color: #6195ff;
    margin-bottom: 10px;
}

.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}

.about-item-description{
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;
}

.about-item-link{
    color: #6195ff;
    text-transform: capitalize;
}

.ltr-effect{
    position: relative;
}

.ltr-effect:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #333;
    width: 0;
    /* height: 0; */
    z-index: -1;
    transition: 0.5s;
}

.ltr-effect:hover:after{
    width: 100%;
    height: 100%;
}

.ltr-effect:hover .about-item-title{
    color: white;
}

/* portfolio section */

.portfolio{
    background: #f9f9f9;
}
.portfolio-item{
    float: left;
    width: 32%;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}

.portfolio-item.mg{
    margin: 0 2%;
}

.portfolio-item img{
    width: 100%;
}

.portfolio-item .layer-content{
    position: absolute; 
    left: 0;
    top: 0;  
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 0.8s;
}

.portfolio-item .layer-content:hover{
    opacity: 1;
    /* visibility: visible; */
}

.layer-content .layer-info{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
    width: 60%;
}

.layer-info .category{
    text-transform: capitalize;
    font-size: 20px;
    color: #6195ff;
    /* margin-bottom: 5px;
    display: block; */
}

.layer-info .layer-content-title{
    margin: 10px 0;
    font-size: 25px;
    color: white;
}

.layer-info a{
    margin-top: 7px ;
    display: inline-block;
    color:white ;
    background-color: #6195ff;
    padding: 10px;
}

/* offer section */

.offer-item{
    width: 30%;
    float: left;
    border: 1px solid #e8e8e8;
    padding: 20px 15px 30px 60px;
    position: relative;
    margin-bottom: 25px;
}

.offer-item a{
    position:absolute;
    top: 15;
    left: 15;
    /* margin: 35px 20px; */
    color: #6195ff;
}

.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 25px;
    transition: color 0.5s;
}

.offer-item-description{
    /* width: 100%;   */
    line-height: 1.6;
    color: #999;
}

.offer-item:hover .offer-item-title{
    color: white;
}

.offer-item.mg{
    margin: 0 2%;
}

/* prices section */

.service-item .header-section{
    text-align: left;
}

.service-item .header-section .line{
    margin: 0 0 70px 0;
    width: 40px;
}

.service{
    background: #f9f9f9;
}

.service-item{
    float: left;
    width: 50%;
}

.service-item-desc{
    width: 95%;
    line-height: 1.6;
    color: #999;
    margin-bottom: 15px;
    
}

.service-list{
    list-style:none;
}

.service-list li i{
    border: 1px solid #6195ff;
    color: #6195ff;
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
}

.service-list li{
    margin-bottom: 10px;
    color: #999;
}

.service-item-img img{
    width: 100%;
}
.service-bollets{
    text-align: center;
    list-style: none;
}
.service-bollets li{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin: 10px 5px;
    transition: 0.5s;
}

.service-bollets li.active{
    background-color: #6195ff;
}

.service-bollets li:hover{
    background-color: #6195ff;
}

/* numbers section */

.numbers{
    position: relative;
    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

.numbers-item{
    float: left;
    width: 25%;
    text-align: center;
}

.numbers-items{
    padding: 100px 0px;
    /* overflow: hidden; */
}

.numbers-item .icon{
    color: #6195ff;
    margin-bottom: 15px;
}

.numbers-item-title{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.numbers-item-text{
    color:white;
}

/* pricing section */
.pricing-item{
    float: left;
    width: 30%;
    padding: 35px 0;
    text-align: center;
    border: 1px solid #e8e8e8;   
}

.pricing-item.mg{
    margin: 0 3%;
}

.pricing-item-text{
    text-transform: uppercase;
    line-height: 1.6;
    color: #999;
    transition: color 0.5s;
}

.pricing-item-permonth{
    border: 2px solid #6195ff;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 15px auto;
    padding: 20px 0;   
}

.pricing-item-permonth .dollar{
    font-size: 50px;
}

.pricing-item-permonth .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: color 0.5s;
}
.pricing-list{
    list-style: none;
    text-transform: capitalize;
    line-height: 2;
    color: #999;
    margin-bottom: 15px;
    letter-spacing: 0.2;
}

.pricing-item-purchase{
    border: none;
    border: 1px solid #6195ff;
    border-width: 3px;
    background-color: white;
    text-transform: capitalize;
    padding: 10px;
    color: #6195ff;
    transition: background-color 0.5s; 
}

.Ttb-effect{
    position: relative;
}

.Ttb-effect:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color:#333;
    transition: 0.5s;   
}

.Ttb-effect:hover:after{
    height: 100%;
}

.pricing-item:hover .pricing-item-text{
    color: #6195ff;
}
.pricing-item:hover .pricing-item-purchase{
    background-color:#333;
}

.pricing-item:hover .pricing-item-permonth {
    color: white;
}

/* team section */

.testimonial{
    background-image: url(../images/background3.jpg);
    position: relative;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}

.testimonial-item{
    float: left;
    width: 50%;
    position: relative;
    color: white;
    padding: 95 0 0 100;
}

.testimonial-item-top h3{
    margin: 10px 86px;
    text-transform: capitalize;
    padding-top: 10;
    
}

.testimonial-item-top span{
    margin: 0 86px;
    text-transform: uppercase;
    color: #6195ff;
}

.testimonial-desc{
    margin: 35px 5px;
}

.testimonial-item-top img{
    border-radius: 50%;
    position: absolute;
}

/* our team section */
.our-team-item{
    float: left;
    width: 30%;
    background-color: #e8e8e8;
    text-align: center;
    padding: 40px 0;
}

.our-team-item-name{
    margin: 20px 0 10 0;
    text-transform: capitalize;
    transition: color 0.5s;
}

.our-team-item-job{
    color:#999;
    text-transform: uppercase;
    transition: color 0.5s;

}

.our-team-item.mg{
    margin: 0 3%;
}

.team-img{
    position: relative;
}

.team-img-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    width: 350px;
    margin: auto;
    opacity: 0;
    visibility: hidden;
}

.team-img-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: white;
    margin-left: auto;
}

.team-img-overlay a i{
    line-height: 40px;
}

.our-team-item:hover .team-img-overlay{
    opacity: 1;
    visibility:visible;
}

.our-team-item.Ttb-effect{
    z-index: 1;
}

.our-team-item:hover .our-team-item-name{
    color: white;
}

.our-team-item:hover .our-team-item-job
{
    color: #6195ff;
}

/* recent-news section*/

.blog{
    background-color:#f9f9f9;
}

.blog-item{
    float: left;
    width: 30%;
    background-color: white;
}


.blog-item-img img{
    width: 100%;
}

.blog-list{
    list-style: none;
    margin: 20 0 ; 
}

.blog-list li{
    display: inline-block;
}

.blog-list li i{
    color: #6195ff;
}

.blog-item-desc{
    margin: 15 0 10 0;
    color:#999;
    line-height: 1.5;
}

.blog-item-link{
    color: #6195ff;
}

.blog-item-content{
    padding-left: 15;
}

.blog-item.mg{
    margin:0 3%;
}


/* get in touch section */

.get-in-touch-container-item{
    text-align: center;
    float: left;
    width: 30%;
}
.get-in-touch-container-item span{
    display: block;
}

.get-in-touch-container-item .icon{
    margin-bottom: 10;
    color: #6195ff;
}                       

.get-in-touch-container-item-title{
    margin-bottom: 10;
    font-weight: bold;
    text-transform: capitalize;
}
.get-in-touch-container-item-number{
    color:#999 ;
}

.get-in-touch-container-item.mg{
    margin: 0 5%;
}

.get-in-touch-form{
    margin:50px auto;
    width: 65%;
    
}

.get-in-touch-form-nameandemail{
    overflow: hidden;
    margin-bottom: 15;
    /* border-radius: 10%; */
}

.get-in-touch-form .name,.get-in-touch-form .email{
    width: 49%;
    height:5%;
    float: left;
    background-color:#f9f9f9;
    border: none;  
    outline: none; 
    padding: 0 10
}

.get-in-touch-form .name{
    margin-right: 2%;
    
}

.get-in-touch-form .subject{
    width: 100%;
    height:5%;
    margin-bottom: 15;
    background-color:#f9f9f9;
    border: none;  
    outline: none; 
    padding: 0 10
}

.get-in-touch-form .message{
    width: 100%;
    height:10%;
    background-color:#f9f9f9;
    border: none;  
    outline: none; 
    padding: 5 10
}

.name:focus,.email:focus,.subject:focus,.message:focus {
    border: 1px solid #6195ff;
}

.get-in-touch-btn{
    display: block;
    margin: auto;
    border: none;
    outline: none;
    border-radius: 5%;
    padding: 15px;
    width: 12%;
    background-color: #6195ff;
    color: white;
    text-transform: capitalize;
    transition: opacity 0.2s;
}

.get-in-touch-btn:hover{
    opacity: 0.7;
}

.final{
    background-color: #000000e6;
    height: 45%;
    position: relative;
}

.final-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.final-content-logo{
    color: white;
    text-transform: uppercase;
    font-size: 50;
    margin-bottom: 60;
}

.final-content-icons a{
    background-color: #6195ff;
    color: white;
    margin: 0 5;
    padding: 10;
}

.final-content-icons a i{
    width: 20px;   
}

.final-content-desc{
    color: #999;
    display: block;
    margin-top: 40;
    text-transform: uppercase;
}

.lastword{
    color: #6195ff;
}

.final-content-icons-arrow{
    background-color: #6195ff;
    color: white;
    padding: 15;
    position: absolute;
    right: 20;
    bottom: 20;
}

